# Godot-specific ignores
export.cfg

# Mono-specific ignores
.mono/
data_*/

# Godot 4+ specific ignores
.godot/

# Python
*.py

# GitHub Workflows
.github/

# Logs when editor logging is enabled
logs/

# Exported files
dist/
gdscript-transpiler-bin/__pycache__/audio.cpython-310.pyc
gdscript-transpiler-bin/__pycache__/main.cpython-310.pyc
gdscript-transpiler-bin/__pycache__/props.cpython-310.pyc
gdscript-transpiler-bin/__pycache__/transpiler.cpython-310.pyc
gdscript-transpiler-bin/__pycache__/vector2.cpython-310.pyc
gdscript-transpiler-bin/__pycache__/version.cpython-310.pyc
