[submodule "gdUnit4"]
	path = gdUnit4
	url = https://github.com/MikeSchulze/gdUnit4.git
	remote = origin
	branch = master
	update = rebase
[submodule "zig"]
	path = zig
	url = https://github.com/LinuxUserGD/zig.git
	remote = origin
	branch = android
	update = rebase
[submodule "zig-template"]
	path = zig-template
	url = https://code.forgejo.org/LinuxUserGD/zig-template.git
	remote = origin
	branch = dev
	update = rebase
