# Godot-specific ignores
export.cfg

# Mono-specific ignores
.mono/
data_*/

# Godot 4+ specific ignores
.godot/

# Python
*.py

# Nuitka
*.bin

# GitHub Workflows
.github/

# Logs when editor logging is enabled
logs/

# Exported files
dist/
gdspy/__pycache__/
bin/__pycache__/
test/__pycache__/
gds.egg-info/
gds.dist/
gds.onefile-build/
gds.build/

# Python Archive
archive.tar.xz

# Zig
zig-cache/
zig-out/
out/
